.cover__subtitle {
  margin: 0;
  padding: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Inter', 'Arial', 'sans-serif';
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-top: -5px;
  }
}

@media screen and (max-width: 400px) {
  .cover__subtitle {
    max-width: 300px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
  }
}
